# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ======================
# Virtual Environments
# ======================
venv/
.env/
.venv/
env/
ENV/

# ======================
# Environment variables
# ======================
.env
.env.*

# ======================
# FastAPI / Uvicorn
# ======================
*.log
uvicorn.log

# ======================
# Databases
# ======================
*.sqlite3
*.db

# ======================
# Caches / Test
# ======================
.pytest_cache/
.coverage
htmlcov/

# ======================
# IDEs
# ======================
.vscode/
.idea/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Build / Distribution
# ======================
build/
dist/
*.egg-info/
